<h1>Add a Fantastic Beast!!</h1>
<div class = text></div>
  <form action="/add/{{id}}" method="post">
    <label for="name">Beastly Name</label>
    &emsp;
    <input name="name "type="text"> 
    <p></p>

    <label for="MOM">Ministry Classification</label>
    &emsp;
    <input name= "MOM" type="text">
    <p></p>

    <label for="Type">Type</label> &emsp;
    &emsp;
    <input name="Type" type="text">
    <p></p>

    <label for="Characteristics">Fantastic Skills</label>
    &emsp;
    <input name="profilePic" type="text">
    <p></p>

    <label for="Desc">Description</label> &emsp;
    &emsp;
    <input name="Desc" type="text">
    <p></p>

    <button type="submit">submit</button>
  </form>
</div>