<div><img class="leftpage" src='/images/pages.jpg'></div>
<div class="rightpage" style='background-image: url(/images/pages.jpg)'>
  <div class="container">
  <form action="/add/{{id}}" method="post">
    <label for="Name">Beastly Name</label>
    &emsp;
    <input name="Name "type="text"> 
    <p></p>

    <label for="MOM">Ministry Classification</label>
    &emsp;
    <input name= "MOM" type="text">
    <p></p>

    <label for="Type">Type</label> &emsp;
    &emsp;
    <input name="Type" type="text">
    <p></p>

    <label for="Characteristics">Fantastic Skills</label>
    &emsp;
    <input name="img_url" type="text">
    <p></p>

    <label for="Desc">Description</label> &emsp;
    &emsp;
    <input name="Desc" type="text">
    <p></p>

    <button type="submit">Submit</button>
  </form>
</div>
</div>
</div>