<!DOCTYPE html>
<html>
  <head>
    <title>Fantastic Beasts Wiki</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    
  </head>
  <body>
    {{!> main page:  <!}}
    
    <ul>
    {{#each users}}
      <li>{{name}} ({{email}})</li>
    {{/each}}
    </ul>
  </body>
</html>
